.main {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 60vh;
    margin-right: 60vh;
}

.elem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.calc {
    display: flex;
}

.elem p {
    font-size: 22px;
}

@media screen and (max-width: 420px) {
  .main {
      margin-left: 0vh;
      margin-right: 0vh;
  }
}