.Home {
  margin-left: 60vh;
  margin-right: 60vh;
}

.title {
  margin-top: 3vh;
  margin-bottom: 10vh;
  text-align: center;
}

.input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}

.opt {
  margin-bottom: 5vh;
}

.opp {
  display: flex;
}

.btn {
  text-align: center;
}

@media screen and (max-width: 420px) {
  .Home {
      margin-left: 0vh;
      margin-right: 0vh;
  }
}